nav{
    width: 100%;
    background-color: black;
}
nav div{
    display: flex;
}
nav div ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    align-items: space-between;
    justify-content: space-around;
}
nav div ul li{
    width: fit-content;
    align-items: space-between;
}