<!-- templates/add_news.html -->
<html>
<head>
    <title>Add News</title>
</head>
<body>
    <h1>Add News</h1>
    <form action="{{ url_for('add_news') }}" method="post">
        Party Name: <input type="text" name="party_name"><br>
        Post Date (YYYY-MM-DD): <input type="date" name="post_date"><br>
        Theme: <input type="number" name="theme"><br>
        Rating: <input type="number" name="rating"><br>
        Media Link: <input type="text" name="media_link"><br>
        Content: <textarea name="content"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
